@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Base styles */
body {
  transition: background-color 0.5s ease;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body.dark-theme {
  background-color: #000000;
  color: #fff;
}

body.dark-theme #taskBox, body.dark-theme #quoteBox {
  background-color: #333;
  color: #fff;
}

body.dark-theme #taskInput {
  background-color: #333;
  color: #fff;
}

/* Components positioning and styling */
#clock {
  font-size: 150px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pomodoro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#timer {
  display: inline-block;
  font-size: 48px;
}

#startPomodoro, #restartPomo {
  display: inline-block;
  background: none;
  border: none;
  color: inherit;
  font-size: 48px;
  cursor: pointer;
}

#toggleTheme {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: inherit;
  font-size: 24px;
}

#taskBox, #quoteBox {
  position: absolute;
  bottom: 20px;
  height: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

#taskBox {
  left: 5%;
}

#quoteBox {
  right: 5%;
  font-size: 24px;
}

#quoteBox h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#taskInput {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-size: 24px;
}

#taskList {
  list-style: none;
  padding: 0;
  font-size: 24px;
}

#taskList li:before {
  content: '\2610   ';
}

/* Floating Chatbot Styles */
#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff00;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat-toggle.dark-theme {
  background-color: #fff;
  color: #000;
}

#chat-widget {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 350px;
  height: 400px; /* Adjusted height */
  background-color: white;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

#chat-widget.visible {
  display: flex;
}

#chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#loading {
  display: none;
  align-items: center;
  margin-top: 10px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.message {
  margin-left: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  #clock {
    font-size: 100px;
    top: 20%;
  }

  #pomodoro {
    top: 40%;
  }

  #timer {
    font-size: 36px;
  }

  #startPomodoro, 
  #restartPomo {
    font-size: 36px;
  }

  #taskBox, 
  #deepchat-container {
    height: 40%;
    width: 80%;
    left: 10%;
    bottom: 10px;
  }

  #quoteBox {
    display: none; /* Hide quoteBox on devices with a width less than 768px */
  }

  .ads-left, 
  .ads-right {
    display: none;
  }

  .ads-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  #clock {
    font-size: 80px;
    top: 15%;
  }

  #pomodoro {
    top: 35%;
  }

  #timer {
    font-size: 28px;
  }

  #startPomodoro, 
  #restartPomo {
    font-size: 28px;
  }

  #taskBox, 
  #deepchat-container {
    height: 50%;
    width: 90%;
    left: 5%;
    bottom: 5px;
  }

  #taskInput {
    font-size: 18px;
  }

  #taskList {
    font-size: 18px;
  }
}

